<p id="notice"><%= notice %></p>

<div style="padding: 10%"> 
<div style="background:url(http://www.ourbloc.co/uploads/2/4/0/1/24014742/6037108_orig.jpg) no-repeat center center;"> </div>

<table style="height: 400px; width: 80%">

  <tbody >
    <% @contents.each do |content| %>
      <tr style=" border: 5px solid white;">
        <td ><%= link_to content.title, content %></td>

        <td style="width: 10%"><%= link_to 'Edit', edit_content_path(content) %></td>
        <td style="width: 10%"><%= link_to 'Destroy', content, method: :delete, data: { confirm: 'Are you sure?' } %></td>
    
      </tr>

    <% end %>
  </tbody>
</table>

<br>

</div>