<div class="post_wrapper">


<h2 class ="user">
		<%= @user.name %>
	</p>
<p class ="user">
		<%= @user.gradyear %>
	</p>

<p class ="user">
	<%= @user.school %>
</p>

<p class ="user">
		<%= @user.major %>
	</p>


