<div id="page_wrapper">
	<div id="profile_image">
		<%= image_tag "profile.jpeg" %>
	</div>

	<div id="content">
		<h1> BLOC </h1>
		<p> An Online Professional Network. Launching The First Black, Professional Social Media Site Fall 2015. Join Us On This Journey. #blackcollegians </p>
	</div>
</div>