    <section id="background-img" class="inner-intro bg-img2 overlay-light parallax parallax-background2">
            <div class="container" >
                <div class="row title">
                    <h2 class="h2" style="font-weight:600;color:black;font-size:2.5em; margin-top:5em">BLOC</h2>
                    <div style="font:2em" class="page-breadcrumb">
                        <a href="/users.html">Search Students</a>/<a href="/mailbox/inbox.html"> Inbox</a> /<a href="/posts.html">New Applications</span>
                    </div>


                </div>
            </div>
        </section>
        <div class="clearfix"></div>


        <!-- End Intro Section -->

