<div style="height: 200px"> </div>


<div id="home_phone"> 
<% if current_user.role=="student" %> 
    <div style="height: 10%" class="page-breadcrumb">
    <a class= "hbutton" href="/users.html">Network</a> </button> 
    <a class= "hbutton"href="/mailbox/inbox.html"> Inbox</a> <br />
    <a class= "hbutton"href="/posts.html">All Posts</a> <br />
 

<% elsif current_user.role=="company" %> 
    
        <%= form_tag(users_path, :method  => "get") do %> 
            <%= text_field_tag :search, params[:search], placeholder: "Search Network" , class: "search_users" %>

         <% end %>
        <%= yield %>
    <div style="height: 10%" class="page-breadcrumb">
   <a class= "hbutton"href="/mailbox/inbox.html"> Inbox</a> <br />
    <a class= "hbutton"href="/myjobs.html">My Jobs</a> 
                   
  
 

                    <% end %> 
                    </div>
                </div>
            </div>
      </div> 


        <!-- End Intro Section -->

