<p id="notice"><%= notice %></p>

<h1>My Job Applications</h1>

<table>
  <thead>
    <tr>
      <th>Statement</th>
      <th>Resume</th>
      <th>Cover</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% if current_user.name == @job.user.name %>
    <% @japps.each do |japp| %>
      <tr>
        <td><%= japp.statement %></td>
        <td><%= japp.resume %></td>
        <td><%= japp.cover %></td>
           </tr>

  
    <% end %>
    <% end %>
  </tbody>
</table>

</br>



