/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, vendor/assets/stylesheets,
 * or any plugin's vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any styles
 * defined in the other CSS/SCSS files in this directory. It is generally better to create a new
 * file per style scope.
 *
 *= require_tree .
 *= require_self
 */

@import "bootstrap";
@import "jquery-ui";
@import "style";
@import "font-awesome";
@import "pages";



 html, body {
	font-family: 'Actor', sans-serif;
}

h1, h2, h3, h4, h5, h6 {
	font-weight: 500;
	text-transform: uppercase;
}

a {
	text-decoration: none;
	color: grey;
	&:hover {
		background-color: transparent;
	}
}

#spacer {
	height: 60px;
}

.search_bar_wrapper {
	background-color: #f5f5f5;
	width: 100% ;
	height:50px;
	margin-left: -10%;	
}



#sidebar {
	width: 18%;
	position: fixed;
	left: 0;
	top: 0;
	text-transform: uppercase;
	height: 100%;
	background: #F5F5F5;
	padding: 7em 0 0 0;

	#logo {
		width: 40px;
		position: absolute;
		right: 3em;
		top: 3em;
	}
	ul {
		list-style: none;
		text-align: right;
		padding-right: 3em;
		.category {
			font-weight: 700;
			font-size: 0.9em;
			text-transform: uppercase;
			color: #D4AF37;
		}
		li {
			padding: .5em 0;
			a {
				font-size: .7em;
				color: black;
				text-decoration: none;
				transition: all .4s ease;
				&:hover {
					color: #33acb7;
				}
			}
		}
		.active {
			a {
				color: #33acb7;
			}
		}
	}
	.sign_in {
		position: absolute;
		right: 3em;
		top: 80%;
		font-size: .8em;
		color: #9eafba;
	}
}

.button {
	outline: none;
	background: white;
	color: black;
	border: 0px solid #D4AF37;
	padding: .2em .8em;
	border-radius: 1em;
	&:hover {
		border: 0px solid #D4AF37;
			font-weight: 100;
			font-weight: 100;
		color: #D4AF37;
		a {
			color: #D4AF37 !important;
		}
	}
}

.clearfix:after {
   content: ".";
   visibility: hidden;
   display: block;
   height: 0;
   clear: both;
}

#main_content {
	margin-left: 250px;
	#header {
		padding: 1.5em 2em;
		border-bottom: 0px solid #D4AF37;
		background: white;
		color: black;
		p {
			display: inline;
		}
		a {
			color: #black;
			text-decoration: none;
		}
		.buttons {
			float: right;
			margin-top: -6px;
			.button {
				font-size: .8em;
				margin-left: .5em;
			}
		}
	}
	.post_wrapper {
		padding: .5em 4em;
		width: 80%;
		border: 1em solid #F5F5F5;
		.title {
			margin: 0;
			font-size: 1.5em;
			a {
				font-weight: 500;
				text-decoration: none;
				color: #2a2f35;
				font-size: 1em;
				&:hover {
					color: grey;
				}
			}
		}
		.body {
		font-size: .85em;
		width: 90%;
		}
		.user {
		font-size: 1.5em;
		padding: 0px;
		margin: 0px;
		}
		.date_and_author {
			color: #9eafba;
			margin: .5em 0 0 0;
		}
	}
	#post_content {
		padding: 1em 3em;
		.title {
			font-weight: 100;
			text-decoration: none;
			color: #2a2f35;
			font-size: 1.1 em;
			margin-bottom: 0;
			width: 100%;
		}
		.body {
			font-size: 1em;
			line-height: 1.2em;
			text-transform: none;
			width: 100%;
			font-family: "Raleway";
		}

		.date_and_author {
			color: #9eafba;
			margin: 0em 0 2em 0;
			font-family: "Raleway";
			font-weight: 400;
		}
		#comments {
			h2 {
				margin: 3em 0 1em 0;
				border-bottom: 1px solid #d6dce0;
				padding-bottom: 0.5em;
			}
			h3 {
				margin-top: 1.5em;
			}
			.comment {
				border-bottom: 1px solid #d6dce0;
				padding: 1.5em 2em;
				.clear_both {
					clear: both;
				}
				&:after {
					clear: both;
				}
				.comment_content {
					float: left;
					.comment_name {
						margin: 1em 0 0 0;
						font-size: 0.7em;
						text-transform: uppercase;
					}
					.comment_body {
						font-size: 1.2em;
						margin: 0.2em 0 0 0;
					}
					.comment_time {
						margin-top: 1.2em;
						font-size: .8em;
					}
				}
				.button {
					float: right;
				}
			}
			input[type="text"], textarea {
				width: 50%;
			}
		}
	}
	
	.links {
		margin: 2em 0;
	}
	input[type="text"], input[type="email"], input[type="password"], textarea {
		width: 60%;
		border: 0;
		background:white;
		border-radius: 2px;
		outline: none;
		border-bottom: 2px solid #d6dce0;
		margin-top: 5px;
		padding: 0px;
		line-height: 1.75;
	}
	input[type="text"] {
		height: 28px;
	}
	textarea {
		min-height: 180px;
	}
	input[type="placeholder"] {
		font-family: "Raleway";
		font-weight: 600px;
	}
	input[type="submit"] {
		outline: none;
		background: white;
		border: 1px solid #D4AF37;
		padding: .5em 1.5em;
		font-size: 1.1em;
		border-radius: 1.5em;
		margin-left: .5em;
		&:hover {
			border: 1px solid #D4AF37;
			color: #D4AF37;
		}
	}
}

#header-image {
	width: 100%;
	height: auto;
}


table{
	width: 50em;
}

td {
	width: 20em;
	height: 8em;
}

.user{
	color:#CC9900;
}

#background-img {
	background: url("http://www.ourbloc.co/uploads/2/4/0/1/24014742/8123404_orig.png") no-repeat center center fixed;
	margin: 0 auto;
	background-size: cover;
	input[type="text"] {
		color: white;
	width: 100%;
	}
}

#footer {
	background-color: #f5f5f5;
	width: 100%;
	position: fixed;
	top: 70px;
}

.right-bar{
	width: 18%;
	position: fixed;
	right: 0;
	top: 1em;
	text-transform: uppercase;
	height: 100%;
	background: white;
	padding: 7em 0 0 0;
	border-right: 1px solid #d6dce0;
	color: white;
	background-color: #F5F5F5;
}
.right-bar ul{
	font-size: 1.5em;
}
.right-bar li {
	list-style-type: none;
	font-weight: 50;
	margin-left: 3em;
}

#logo-right{
	margin-left: .25em;
	margin-bottom: 1em;
}

.edit-wrapper {
	margin-left: 5em;
	width: 70%;
}


