// Place all the styles related to the mailbox controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

.compose-button{ 
margin-top: 2em;
margin-bottom: 20emm;

color:white;
background: white;
border: 1px solid #D4AF37;
text-transform: uppercase;
width: 100px;
height: 20em;
font-size: 1.2em;
border-radius: 1em;
margin-left: 62%;
padding: 2px;
}

.compose-button:hover{ 
color:black;

}



.row {
	width: 70%;
	padding: 50px;
}