// Place all the styles related to the pages controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

#post_content{
	margin-right: 20em;
	width: 70%;
}


#page_wrapper {
		padding: 3em;
		#profile_image {
			width: 100px;
			float: left;
			margin-right: 2em;
			img {
				width: 100%;
				border-radius: 0.35em;
			}
		}
		#content {
			h1 {
				font-weight: 300;
			}
			p {
				font-size: 1.1em;
				line-height: 1.75;
			}
			a {
				color: #33acb7;
				font-weight: 700;
				text-decoration: none;
			}
		}
	}

.search_users {
		border: 1px solid black;
		background-color: white;
		font-weight: 600;
}