// Place all the styles related to the posts controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

img[src='/images/medium/missing.png']{
        display: none;
    }


.body {
	font-size: 1em;
	margin-right: 20em;
	margin-left: 3em;
}

.title{
	margin-right: 20em;
	
}

