<!-- [...] -->
    <div id="navbar" class="navbar-collapse collapse">
      <ul class="nav navbar-nav pull-right">
        <% if user_signed_in? %>
           <!--
            <li><%= link_to "Hello,  " %></li>
            <li><%= link_to "Inbox", mailbox_inbox_path %></li> 
            <li><%= link_to "Logout", destroy_user_session_path, method: :delete %></li> 
       

        <% end %> -->

      </ul>
    </div><!--/.nav-collapse -->
<!-- [...] -->
